---
// src/pages/proyecto/[id].astro
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

// 1. Aquí definimos todos tus proyectos y sus rutas
export function getStaticPaths() {
  const misProyectos = [
    {
      id: 'jumper', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Jumper',
      categoria: 'Aplicación Multi-funcional',
      descripcion: 'He aquí nuestro proyecto de final de curso de primero de carrera. Este unía los conocimientos de varias asignaturas del año: programación, arquitectura de redes, física y matemáticas. Creamos una aplicación con Python que se comunica con otra aplicación móvil y representa los datos de diversas formas. En el video, de cuya edición me encargué personalmente, hay más detalles de la aplicación.',
      //enlaceRepo: 'https://github.com/tu-usuario',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/Ho4YbvrDhwc?si=kkWlAEtVw5Lmtizm' } 
      ]
    },
    {
      id: 'carcassone', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Recreación Web del Carcassonne',
      categoria: 'Página Web',
      descripcion: 'Para un proyecto en grupo de segundo de carrera decidimos convertir un juego de mesa en una pagina web y optamos por el Carcassonne. Este proyecto fue un reto importante para los conocimientos que teníamos entonces. Pero tuvo un resultado satisfactorio.',
      enlaceRepo: 'https://github.com/ToniTormo/TecWeb_P-Final/tree/main',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/UFAtFWs1pt8?si=k7sREzf0OetUSmA1' } 
      ]
    },
    {
      id: 'clicker', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'ETSIT Clicker',
      categoria: 'Aplicación Móvil',
      descripcion: 'En segundo de carrera diseñé y programé una aplicación de móvil en Android Studio usando Java. Opté por hacer un juego del estilo Cookie Clicker pero inspirado en el proceso de titulación de mi carrera. El archivo apk está en Github por si queréis probarlo.',
      enlaceRepo: 'https://github.com/dcabmar/GTDM-Clicker',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1774891610/Clicker1_oi39ji.jpg' },
        {tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1774891610/Clicker2_jx3xr5.jpg'} 
      ]
    },
    {
      id: 'RV', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Simulador de alimentar palomas',
      categoria: 'Entorno VR',
      descripcion: 'En una asignatura de Realidad Virtual se nos encargó montar un entorno de Unity con funcionalidades personalizadas para ser usado con unas gafas de RV. Mis compañeros y yo optamos por un parque en el que tu personaje alimenta a las palomas con pan. Nos encargamos de diseñar algunos modelos 3D y de programar el entorno. Además incorporamos una animación hecha con Motion Capture en un laboratorio de nuestra facultad.',
      enlaceRepo: 'https://github.com/dcabmar/VR_Pidgeon_Feeding/tree/main',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'imagen', url: 'https://bristolpests.co.uk/media/shutterstock_1153933432-scaled.jpg' }
      ]
    },
    {
      id: 'FR', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Reconocimiento Facial',
      categoria: 'Aplicación de IA',
      descripcion: 'En tercero de carrera desarrollamos varios sistemas de reconocimiento facial para la asignatura de Imagen y Video digital. Estos hacían uso de modelos de aprendizaje para poder identificar correctamente los rostros. Para entrenar el algoritmo usamos fotos de youtubers e influencers, además de algunas nuestras. Así conseguimos un sistema que reconoce caras en fotos, otro en videos y uno en tiempo real; haciendo uso de una webcam.',
      enlaceRepo: 'https://github.com/dcabmar/Facial_Recognition',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775046103/FR1_ilujjn.avif' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775046103/FR2_vivkro.avif' }
      ]
    },
    {
      id: 'Voz', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Resonance',
      categoria: 'Página Web',
      descripcion: 'En tercero de carrera, para la asignatura de voz y audio digital, desarrollé una pagina web que aplica efectos a una grabación de audio. Gracias a una librería de JavaScript, pude recrear los efectos de chorus, reverb y eco. Además compuse unas bases para poder improvisar encima de ellas.',
      enlaceRepo: 'https://github.com/dcabmar/Pryct_VOZ/tree/main',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775054975/Resonance_ht6kwv.avif' }
      ]
    },
    {
      id: '2DGame', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Escudos de Katzenpisse',
      categoria: 'Videojuego 2D',
      descripcion: 'En cuarto de carrera se nos mandó a diseñar y programar un videojuego 2D en Unity. Como nos dieron libertad creativa, mi compañero y yo decidimos hacer un Tower Defense en pixel art. Nos encargamos de diseñar todos los personajes, entornos y objetos de la interfaz. Os dejo el enlace a github con el código y el video explicativo. Si queréis jugarlo solo necesitáis la carpeta "EDK". En ella esta el ejecutable.',
      enlaceRepo: 'https://github.com/ToniTormo/Games-Juego2D/tree/main',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775244524/KP1_w3esze.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775244526/KP2_jrghli.png' }
      ]
    },
    {
      id: 'IoT', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'IoT Emergency System',
      categoria: 'Entorno IoT',
      descripcion: 'En cuarto de carrera diseñamos de forma individual sistemas que hicieran uso del Internet of Things. En mi caso diseñé un sistema de control y prevención de emergencias. Este usa una red de sensores para reaccionar ante posibles accidentes; y unos drones con cámara que envían información visual a una central de análisis. Utilicé python para diseñar varios programas para crear y actualizar entidades junto a una maquina virtual para poder hacer la simulación del sistema.',
      //enlaceRepo: 'https://github.com/ToniTormo/Games-Juego2D/tree/main',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/WhGMgzNxJ5g?si=IEG4JZDh-BRgWfqr' }
      ]
    },
    {
      id: '3DGame', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Proyecto Blorg: Gelatina en problemas',
      categoria: 'Videojuego 3D',
      descripcion: 'Segundo videojuego creado durante la carrera. Esta vez en 3D. Elaboramos un juego de plataformas en primera persona con 3 niveles distintos. En cada uno se ha de resolver distintos puzles para poder avanzar. Diseñamos todos los niveles y objetos en Blender; y luego programamos el juego en Unity.',
      enlaceRepo: 'https://github.com/dcabmar/3D_Videogame',
      //enlaceDemo: '#',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775251944/portada_mtca9e.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775251943/Blorg2_jnzyaw.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775251943/Blorg1_idxswq.png' },
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/APsTvvxrn8c?si=pLq4ksTMIiT5yrt0' }
      ]
    },
    {
      id: 'TFG', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'MELO-BLOB',
      categoria: 'Trabajo Final de Grado',
      descripcion: 'He aquí mi Trabajo de Fin de Grado. Melo-Blob es un híbrido entre videojuego musical y aplicación para entrenamiento cognitivo el cual diseñé usando los programas Unity, Reaper y Pixelorama. Para saber más detalles os dejo un video que hice con IA explicando el proceso de creación del proyecto. También teneis un enlace al resultado final por si quereis probarlo.',
      enlaceRepo: 'https://github.com/dcabmar/MELOBLOB-TFG',
      enlaceDemo: 'https://danix3000.itch.io/meloblob',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/2hE8D6xRy4I?si=qFMMx5VuJaMv2N3Z' }
      ]
    },
    {
      id: 'ML', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Loan Payback Prediction',
      categoria: 'Aplicación de Data Science y Machine Learning',
      descripcion: 'Uno de mis primeros proyectos del Master. Utilicé Machine Learning para crear un modelo capaz de predecir si los clientes de un banco iban a ser capaces de devolver un préstamo. Apliqué mis nuevos conocimientos de Data Science y Big Data para analizar un gran volumen de datos, filtrarlos y extraer tanto características como correlaciones entre estos. Posteriormente, diseñamos en equipo un pipeline que entrenaba y comparaba distintos tipos de modelos de ML para ver cuál daba mejores resultados.',
      // enlaceRepo: 'https://github.com/dcabmar/MELOBLOB-TFG',
      // enlaceDemo: 'https://danix3000.itch.io/meloblob',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336342/ML1_mygsqn.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336342/ML2_vsyrmy.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336342/ML3_vxdqyu.png' }
      ]
    },
    {
      id: 'DL', // Esta será la URL: tusitio.com/proyecto/app-ia
      titulo: 'Urban Audio Classificator',
      categoria: 'Aplicación de Data Science y Deep Learning',
      descripcion: 'Utilizando mis nuevos conocimientos de Deep Learning desarrollé un clasificador de sonidos urbanos. Diseñé dos Redes Neuronales para clasificar los fragmentos de audio, con el objetivo de compararlas y ver qué estrategia es mejor. El proceso consistió en normalizar los archivos de audio, crear los espectrogramas de cada uno, diseñar los modelos, entrenarlos y compararlos. En este proyecto compitieron una Red Convolucional (CNN) creada desde cero y otra red que usaba Transfer Learning.',
      // enlaceRepo: 'https://github.com/dcabmar/MELOBLOB-TFG',
      // enlaceDemo: 'https://danix3000.itch.io/meloblob',
      galeria: [
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336875/DL2_kf9nql.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336876/DL3_r89vuf.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336876/DL1_lj7xsm.png' },
        { tipo: 'imagen', url: 'https://res.cloudinary.com/dzjo5zpmz/image/upload/v1775336876/DL4_omyuiy.png' }
      ]
    },
    {
      id: 'narlen', // URL: tusitio.com/proyecto/spot-publicitario
      titulo: 'The Last Adventure',
      categoria: 'Cortometraje',
      descripcion: 'Os presento "The Last Adventure". Hicimos este cortometraje como proyecto final en la asignatura de Narrativa y Lenguaje Audiovisual. Después de varios días de grabación, me encargué de editar el corto montando el video, aplicando efectos visuales y componiendo la música. Os dejo el link de YouTube para que lo podáis ver. No es perfecto, pero se hizo lo que se pudo con lo que había.',
      // enlaceRepo: null, // Si no tiene repositorio, ponemos null para que el botón no salga
      // enlaceDemo: 'https://youtube.com/...',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/YEVyAt9QOiU?si=lf7ydrAAmWzqg4VU' }
      ]
    },
    {
      id: 'poliwood', // URL: tusitio.com/proyecto/spot-publicitario
      titulo: 'Presentación de Poliwood',
      categoria: 'Video de presentación',
      descripcion: 'En mi carrera se nos ocurrió la idea de formar un grupo de Generación Espontánea para hacer cortometrajes y aprender juntos de posproducción. Yo me encargué de la edición de video y la composición/producción de la música en el video de presentación del grupo. Además de salir de actor, claro. Os dejo el enlace junto a otro enlace al making-of donde hablo sobre mi trabajo en ese video.',
      // enlaceRepo: null, // Si no tiene repositorio, ponemos null para que el botón no salga
      // enlaceDemo: 'https://youtube.com/...',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/tNmXpR__GjA?si=83bDfaKjNmt5wiu3' },
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/dWzIhM_7dnM?si=VWN-nvdlFqtM27_-' }
        
      ]
    },
    {
      id: 'polizuma', // URL: tusitio.com/proyecto/spot-publicitario
      titulo: 'Polizuma Seven',
      categoria: 'Cortometraje',
      descripcion: 'Segundo proyecto importante de Poliwood en el que participé. Consistió en hacer un tráiler de una versión live action de la serie "Inazuma Eleven". Para este proyecto fui actor a la vez que compositor y productor de la banda sonora. Os dejo por aquí el video de YouTube.',
      // enlaceRepo: null, // Si no tiene repositorio, ponemos null para que el botón no salga
      // enlaceDemo: 'https://youtube.com/...',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/Z2kl_akmnVw?si=NB2QbrCJBuo6d_PN' }
        
      ]
    },
    {
      id: 'multi', // URL: tusitio.com/proyecto/spot-publicitario
      titulo: 'Entrevistas Cómicas',
      categoria: 'Entretenimiento',
      descripcion: 'En la asignatura de Equipos Multimedia grabamos un par de entrevistas en forma de parodia. Yo fui el encargado de editar cada una en una hora. Os dejo los links a YouTube para que os echéis unas risas.',
      // enlaceRepo: null, // Si no tiene repositorio, ponemos null para que el botón no salga
      // enlaceDemo: 'https://youtube.com/...',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/0P1Mlv1HGK8?si=cy9qkmSfoWIxWRQc' },
        {tipo: 'youtube', url: 'https://www.youtube.com/embed/nS29S19faE8?si=ERjeW15j5YbS_V3r' }
      ]
    },
    {
      id: 'pan', // URL: tusitio.com/proyecto/spot-publicitario
      titulo: 'Desmigados',
      categoria: 'Cortometraje',
      descripcion: 'Durante el segundo año de Poliwood se decidió hacer un concurso de cortometrajes entre los integrantes del grupo. El corto tenia que estar relacionado con la frase "pan comido" y teníamos que encargarnos del guion, la grabación, la edición, los efectos especiales y la música. En mi equipo actué, ayude en la edición de video, edité el audio y compuse la banda sonora. Os dejo el corto junto al making of de este mismo.',
      // enlaceRepo: null, // Si no tiene repositorio, ponemos null para que el botón no salga
      // enlaceDemo: 'https://youtube.com/...',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/CTZcGRI62Wg?si=mi_mh8QsJjmgzp89' },
        {tipo: 'youtube', url: 'https://www.youtube.com/embed/U4dsOK4FMj4?si=AuBit4GiVcKqab7P' }
      ]
    },
    {
      id: 'miedo', // URL: tusitio.com/proyecto/spot-publicitario
      titulo: 'Huéspedes',
      categoria: 'Cortometraje',
      descripcion: 'Una vez más, yo y mi grupo de cortometrajes nos presentamos al concurso anual de Poliwood. Esta vez con un corto de terror. En esta ocasión estuve involucrado en los roles de Actor, Grabación de audio en escena, Asistencia en edición de video y VFX, Composición y producción musical, Edición de audio y SFX. Además me encargué de hacer el tráiler del cortometraje y editar el Making Of. Os dejo por aquí los enlaces a los tres videos.',
      // enlaceRepo: null, // Si no tiene repositorio, ponemos null para que el botón no salga
      // enlaceDemo: 'https://youtube.com/...',
      trailer:'https://www.youtube.com/shorts/Aey8Hkv3CSs',
      galeria: [
        { tipo: 'youtube', url: 'https://www.youtube.com/embed/gt_CeqRc5MI?si=uRVgd6AVZnPGG7Gn' },
        {tipo: 'youtube', url: 'https://www.youtube.com/embed/NO4hdVpNeJI?si=0DicPI-t4CPM2SgX' }
      ]
    }
  ];

  // Le pasamos los datos a Astro para que construya las páginas
  return misProyectos.map((proyecto) => {
    return {
      params: { id: proyecto.id },
      props: { proyecto },
    };
  });
}

// 2. Recibimos los datos del proyecto actual
const { proyecto } = Astro.props;
---

<Layout title={`${proyecto.titulo} | Daniel Cabañero`}>
    <Header />
    
    <main class="pt-32 pb-20 px-5 max-w-5xl mx-auto text-gray-300 min-h-screen">
        
        <!-- Cabecera del Proyecto -->
        <header class="mb-12 border-b border-white/10 pb-8">
            <span class="text-cyan-400 font-semibold tracking-wider uppercase text-sm">{proyecto.categoria}</span>
            <h1 class="text-4xl md:text-5xl font-extrabold text-white mt-3 mb-6">{proyecto.titulo}</h1>
            
            <p class="text-lg leading-relaxed mb-8">
                {proyecto.descripcion}
            </p>

            <!-- Botones de Enlaces Dinámicos -->
            <div class="flex gap-4">
                {proyecto.enlaceRepo && (
                    <a href={proyecto.enlaceRepo} target="_blank" class="px-6 py-3 bg-cyan-600 hover:bg-cyan-500 text-white font-medium rounded-lg transition-colors">
                        Ver Repositorio
                    </a>
                )}
                
                {proyecto.enlaceDemo && (
                    <a href={proyecto.enlaceDemo} target="_blank" class="px-6 py-3 bg-slate-800 hover:bg-slate-700 text-white font-medium rounded-lg border border-slate-700 transition-colors">
                        Ver Proyecto
                    </a>
                )}

                {proyecto.trailer && (
                    <a href={proyecto.trailer} target="_blank" class="px-6 py-3 bg-cyan-600 hover:bg-cyan-500 text-white font-medium rounded-lg border border-slate-700 transition-colors">
                        Ver Trailer
                    </a>
                )}
            </div>
        </header>

        <!-- Carrusel Nativo Ligero -->
        <section>
            <h2 class="text-2xl font-bold text-white mb-6">Galería</h2>
            <div class="flex overflow-x-auto gap-6 snap-x snap-mandatory pb-4 scrollbar-hide">
                
                {proyecto.galeria?.map((media) => (
                    <div class="snap-center shrink-0 w-full md:w-[80%] aspect-video rounded-xl overflow-hidden border border-white/10 shadow-lg flex items-center justify-center">
                        
                        {/* 1. Si es una IMAGEN */}
                        {media.tipo === 'imagen' && (
                            <div class="relative w-full h-full flex items-center justify-center overflow-hidden bg-slate-900">
                                {/* Imagen de fondo borrosa */}
                                <img src={media.url} class="absolute inset-0 w-full h-full object-cover blur-xl opacity-40 scale-110" aria-hidden="true" />
                                {/* Imagen real nítida */}
                                <img src={media.url} class="relative z-10 w-full h-full object-contain drop-shadow-2xl" alt={`Captura de ${proyecto.titulo}`} />
                            </div>
                        )}

                        {/* 2. Si es un VÍDEO PURO (.mp4) */}
                        {media.tipo === 'video' && (
                            <video src={media.url} controls class="w-full h-full max-h-full object-contain outline-none"></video>
                        )}

                        {/* 3. Si es de YOUTUBE */}
                        {media.tipo === 'youtube' && (
                            <iframe 
                                class="w-full h-full"
                                src={media.url} 
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        )}

                    </div>
                ))}

            </div>
        </section>

    </main>

    <Footer />
</Layout>